.tm_card {
  width: "20rem";
  border: "none";
  position: "relative";
}

.cardimg {
  display: "block";
  width: "100%";
}

.cardbody {
  position: "absolute";
  top: "0";
  left: "0";
  width: "100%";
  height: "100%";
  background: "rgba(0,0,0,0.6)";
  color: "white";
  display: "flex";
  flex-direction: "column";
  align-items: "center";
  justify-content: "center";
  opacity: "0";
}
