.OurBrandsBG {
  height: 100%;
  background-color: #101010;
}

.OurBrandsContainer {
  text-align: center;
  min-height: 80vh;
  padding-top: 100px;
  padding-bottom: 130px;
}

.OurBrandsHeading {
  background: var(--maingradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.OurBrandsImg {
  filter: grayscale(100%);
  transition: 200ms;
  height: 110px;
  width: 150px;
}

.OurBrandsImg:hover {
  transition: 200ms;
  transform: scale(1.1);
  filter: grayscale(0%);
}
