.socialicons {
  border: 1px solid white;
  border-radius: 50%;
  padding: 0.6em;
  background-color: transparent;
  margin: 1em;
  transition: all ease-in-out 300ms;
}

.socialicons:hover {
  background-image: var(--maingradient);
  box-shadow: var(--mainboxshadow);
  transform: translate(0, -5px);
}
